<!DOCTYPE html>
<html lang="en-us">
<head>
<title>Lunch Now!</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body>
<div class="jumbotron">
 <div class="container">
   <h1>Lunch Now!</h1>
   <p>
   {% block content %}{% endblock %}
   </p>
 </div>
</div>
</body>
</html>
