{% extends "lunchnow/base.html" %}
{% block content %}
{% if winner %}
   <strong>Top choice is {{ winner }}</strong><br />
   {% if locations %}
      Runner-ups:<br />
      <ul>
      {% for location in locations %}
         <li>{{ location.name }}
         (last visited on {{ location.last_visited|default_if_none:"never" }})
         </li>
      {% endfor %}
      </ul>
   {% endif %}
   <a href="/visit" class="btn btn-sm btn-primary">We ate here</a>
{% else %}
   No places left to choose from!<br />
{% endif %}
<a href="/rate" class="btn btn-sm btn-primary">Rate Location</a>
{% endblock %}
