{% extends "lunchnow/base.html" %}
{% block content %}
   <form action="/rate" method="post">{% csrf_token %}
   <h2>Set your ratings:</h2>
   {{ form.as_p }}
   <button type="submit" class="btn btn-sm btn-primary">Submit</button>
   </form>
{% endblock %}
